<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>table</title>
    <link rel = "stylesheet" th:href="@{/css/main.css}" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            type="text/javascript"></script>
    <script crossorigin="anonymous"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" type="text/javascript"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link crossorigin="anonymous"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          rel="stylesheet">
    <script type="text/javascript" th:src="@{js/main.js}" src = "js/main.js"> </script>

</head>
<body>
<button class = "btn btn-succes nBtn">Новое поле</button>


<table class = "table">
    <thead>
    <tr>
        <th>Название</th>
        <th>Описание</th>
        <th>Категория</th>
        <th>Сложность</th>
        <th>Ссылки на картинки</th>
        <th>Гайд</th>
        <th>Видеогайд</th>
        <th>Упражнение</th>
        <th>Редакирование</th>
        <th>Удалить</th>


    </tr>
    </thead>
    <tbody>
    <tr th:each = "hobby : ${listPlaces}">
        <td th:text = "${hobby.name} " >1</td>
        <td th:text = "${hobby.description} " class="col" >1</td>
        <td th:text = "${hobby.category} " class="col">1</td>
        <td th:text = "${hobby.difficulty} " class="col">1</td>
        <td th:text = "${hobby.images} " class="col">1</td>
        <td th:text = "${hobby.guide} " class="col">1</td>
        <td th:text = "${hobby.guideVideo} " class="col">1</td>
        <td th:text = "${hobby.exercise} " >1</td>
        <td><a th:href = "@{findId/(id=${hobby.id})}" class = "btn btn-primary eBtn">Редактировать</a> </td>
        <td><a th:href = "@{delete(id=${hobby.id})}" class = "btn btn-danger delBtn">Удалить</a> </td>
    </tr>
    </tbody>
</table>

        <ul class = "nav nav-pills">
            <li class = "nav-item" th:each = " i : ${#numbers.sequence(0,listPlaces.totalPages-1)}">
            <a th:href = "@{/tables(page=${i})}" th:text = "${i}" class = "nav-link"
            th:classappend="${currentPage}==${i}?'active':''">
            </a>
            </li>
        </ul>

</div>
            </div>
        </div>
    </div>

    <div class="myForm">
        <form th:action="@{/save} " method = "post">

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Редактирование</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group1" id = "delid">
                            <label for="id" class="col-form-label1">ID:</label>
                            <input type="number" class="form-control" readonly="readonly" id="id" name = "id" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-form-label">Имя:</label>
                            <input type="text" class="form-control" id="name" name = "name" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="category" class="col-form-label">Категория:</label>
                            <input type="text" class="form-control" id="category" name = "category" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="difficulty" class="col-form-label">Сложность:</label>
                            <input type="text" class="form-control" id="difficulty" name = "difficulty" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-form-label">Описание:</label>
                            <input type="text" class="form-control" id="description" name = "description" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="images" class="col-form-label">Ссылки на картинки:</label>
                            <input type="text" class="form-control" id="images" name = "images" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="guide" class="col-form-label">Гайд:</label>
                            <input type="text" class="form-control" id="guide" name = "guide" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="guideVideo" class="col-form-label">Видеогайд:</label>
                            <input type="text" class="form-control" id="guideVideo" name = "guideVideo" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="exercise" class="col-form-label">Упражнение:</label>
                            <input type="text" class="form-control" id="exercise" name = "exercise" value=""/>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <input type="submit" class="btn btn-primary" value = "Сохранить"/>
                    </div>
                </div>
            </div>
        </div>
</form>


    </div>


    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabe2">Удаление</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                  <p class="alert alert-danger">
                      Вы уверены?
                  </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <a href ="" class="btn btn-danger" id = "delRef">Удалить</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>